:root {
    --texttext-green-light: rgba(151, 204, 86, 1);
    --texttext-primary: rgba(19, 63, 93, 1);
    --darkblue-50: rgba(19, 63, 93, 1);
    --texttext-tertiary: rgba(194, 205, 213, 1);
    --darkgrey-30: rgba(154, 166, 176, 1);
    --grey-30: rgba(224, 228, 231, 1);
    --white-100: rgba(255, 255, 255, 1);
    --green-50: rgba(147, 200, 84, 1);
    --texttext-white: rgba(255, 255, 255, 1);
    --texttext-blue: rgba(65, 153, 213, 1);
    --blue-10: rgba(247, 251, 253, 1);
    --shades-of-blueblue-low: rgba(232, 243, 250, 1);
    --shades-of-blueblue-high: rgba(194, 222, 242, 1);
    --blue-50: rgba(65, 149, 213, 1);
    --texttext-secondary: rgba(113, 140, 158, 1);
    --artboardborder: rgba(234, 237, 239, 1);
    --artboardborder-blue: rgba(65, 153, 213, 1);
    --artboardsurface-variant: rgba(255, 255, 255, 1);
    --grey-20: rgba(236, 239, 241, 1);
    --texttext-red: rgba(227, 82, 115, 1);
    --headline-headline-small-font-family: "Lato-Bold", Helvetica;
    --headline-headline-small-font-weight: 700;
    --headline-headline-small-font-size: 18px;
    --headline-headline-small-letter-spacing: 0px;
    --headline-headline-small-line-height: 135.0000023841858%;
    --headline-headline-small-font-style: normal;
    --heading-heading-large-font-family: "Lato-Bold", Helvetica;
    --heading-heading-large-font-weight: 700;
    --heading-heading-large-font-size: 16px;
    --heading-heading-large-letter-spacing: 0px;
    --heading-heading-large-line-height: 135.0000023841858%;
    --heading-heading-large-font-style: normal;
    --headline-headline-large-font-family: "Lato-Bold", Helvetica;
    --headline-headline-large-font-weight: 700;
    --headline-headline-large-font-size: 24px;
    --headline-headline-large-letter-spacing: 0px;
    --headline-headline-large-line-height: 135.0000023841858%;
    --headline-headline-large-font-style: normal;
    --button-normal-font-family: "Lato-Regular", Helvetica;
    --button-normal-font-weight: 400;
    --button-normal-font-size: 14px;
    --button-normal-letter-spacing: 0px;
    --button-normal-line-height: normal;
    --button-normal-font-style: normal;
    --headline-headline-medium-font-family: "Lato-Bold", Helvetica;
    --headline-headline-medium-font-weight: 700;
    --headline-headline-medium-font-size: 20px;
    --headline-headline-medium-letter-spacing: 0px;
    --headline-headline-medium-line-height: 135.0000023841858%;
    --headline-headline-medium-font-style: normal;
    --heading-heading-regular-font-family: "Lato-Bold", Helvetica;
    --heading-heading-regular-font-weight: 700;
    --heading-heading-regular-font-size: 14px;
    --heading-heading-regular-letter-spacing: 0px;
    --heading-heading-regular-line-height: 135.0000023841858%;
    --heading-heading-regular-font-style: normal;
    --body-body-regular-font-family: "Lato-Regular", Helvetica;
    --body-body-regular-font-weight: 400;
    --body-body-regular-font-size: 14px;
    --body-body-regular-letter-spacing: 0px;
    --body-body-regular-line-height: 19px;
    --body-body-regular-font-style: normal;
    --heading-heading-small-font-family: "Lato-Bold", Helvetica;
    --heading-heading-small-font-weight: 700;
    --heading-heading-small-font-size: 13px;
    --heading-heading-small-letter-spacing: 0px;
    --heading-heading-small-line-height: 135.0000023841858%;
    --heading-heading-small-font-style: normal;
    --heading-heading-xsmall-font-family: "Lato-Bold", Helvetica;
    --heading-heading-xsmall-font-weight: 700;
    --heading-heading-xsmall-font-size: 12px;
    --heading-heading-xsmall-letter-spacing: 0px;
    --heading-heading-xsmall-line-height: 135.0000023841858%;
    --heading-heading-xsmall-font-style: normal;
    --body-body-xsmall-font-family: "Lato-Regular", Helvetica;
    --body-body-xsmall-font-weight: 400;
    --body-body-xsmall-font-size: 12px;
    --body-body-xsmall-letter-spacing: 0px;
    --body-body-xsmall-line-height: 135.0000023841858%;
    --body-body-xsmall-font-style: normal;
    --body-body-large-font-family: "Lato-Regular", Helvetica;
    --body-body-large-font-weight: 400;
    --body-body-large-font-size: 16px;
    --body-body-large-letter-spacing: 0px;
    --body-body-large-line-height: 135.0000023841858%;
    --body-body-large-font-style: normal;
    --body-small-bold-font-family: "Lato-Bold", Helvetica;
    --body-small-bold-font-weight: 700;
    --body-small-bold-font-size: 14px;
    --body-small-bold-letter-spacing: 0px;
    --body-small-bold-line-height: 150%;
    --body-small-bold-font-style: normal;
    --shadow-new: 0px 0px 40px 0px rgba(19, 63, 93, 0.1);
    --green-50: rgba(147, 200, 84, 1);
    --white-100: rgba(255, 255, 255, 1);
    --headline-headline-medium-font-family: "Lato-Bold", Helvetica;
    --headline-headline-medium-font-weight: 700;
    --headline-headline-medium-font-size: 20px;
    --headline-headline-medium-letter-spacing: 0px;
    --headline-headline-medium-line-height: 135.0000023841858%;
    --headline-headline-medium-font-style: normal;
    --darkblue-50: rgba(19, 63, 93, 1);
    --texttext-tertiary: rgba(194, 205, 213, 1);
    --heading-heading-large-font-family: "Lato-Bold", Helvetica;
    --heading-heading-large-font-weight: 700;
    --heading-heading-large-font-size: 16px;
    --heading-heading-large-letter-spacing: 0px;
    --heading-heading-large-line-height: 135.0000023841858%;
    --heading-heading-large-font-style: normal;
    --headline-headline-large-font-family: "Lato-Bold", Helvetica;
    --headline-headline-large-font-weight: 700;
    --headline-headline-large-font-size: 24px;
    --headline-headline-large-letter-spacing: 0px;
    --headline-headline-large-line-height: 135.0000023841858%;
    --headline-headline-large-font-style: normal;
    --white-10: rgba(255, 255, 255, 1);
    --grey-45: rgba(214, 219, 224, 1);
    --texttext-primary: rgba(19, 63, 93, 1);
    --darkblue-50: rgba(19, 63, 93, 1);
    --texttext-tertiary: rgba(194, 205, 213, 1);
    --blue-10: rgba(247, 251, 253, 1);
    --blue-20: rgba(232, 242, 250, 1);
    --icon-icon-lower-emphasis: rgba(134, 149, 161, 1);
    --blue-50: rgba(65, 149, 213, 1);
    --shades-of-blueblue-low: rgba(232, 243, 250, 1);
    --darkgrey-30: rgba(154, 166, 176, 1);
    --grey-30: rgba(224, 228, 231, 1);
    --heading-xtrasmall-bold-font-family: "Lato-Bold", Helvetica;
    --heading-xtrasmall-bold-font-weight: 700;
    --heading-xtrasmall-bold-font-size: 14px;
    --heading-xtrasmall-bold-letter-spacing: 0px;
    --heading-xtrasmall-bold-line-height: 150%;
    --heading-xtrasmall-bold-font-style: normal;
    --heading-heading-large-font-family: "Lato-Bold", Helvetica;
    --heading-heading-large-font-weight: 700;
    --heading-heading-large-font-size: 16px;
    --heading-heading-large-letter-spacing: 0px;
    --heading-heading-large-line-height: 135.0000023841858%;
    --heading-heading-large-font-style: normal;
    --body-xtrasmall-bold-font-family: "Lato-Bold", Helvetica;
    --body-xtrasmall-bold-font-weight: 700;
    --body-xtrasmall-bold-font-size: 12px;
    --body-xtrasmall-bold-letter-spacing: 0px;
    --body-xtrasmall-bold-line-height: 150%;
    --body-xtrasmall-bold-font-style: normal;
    --body-small-regular-font-family: "Lato-Regular", Helvetica;
    --body-small-regular-font-weight: 400;
    --body-small-regular-font-size: 14px;
    --body-small-regular-letter-spacing: 0px;
    --body-small-regular-line-height: 150%;
    --body-small-regular-font-style: normal;
    --body-body-xsmall-font-family: "Lato-Regular", Helvetica;
    --body-body-xsmall-font-weight: 400;
    --body-body-xsmall-font-size: 12px;
    --body-body-xsmall-letter-spacing: 0px;
    --body-body-xsmall-line-height: 135.0000023841858%;
    --body-body-xsmall-font-style: normal;
    --button-normal-font-family: "Lato-Regular", Helvetica;
    --button-normal-font-weight: 400;
    --button-normal-font-size: 14px;
    --button-normal-letter-spacing: 0px;
    --button-normal-line-height: normal;
    --button-normal-font-style: normal;
    --white-10: rgba(255, 255, 255, 1);
    --grey-45: rgba(214, 219, 224, 1);
    --texttext-green-light: rgba(151, 204, 86, 1);
    --heading-xtrasmall-bold-font-family: "Lato-Bold", Helvetica;
    --heading-xtrasmall-bold-font-weight: 700;
    --heading-xtrasmall-bold-font-size: 14px;
    --heading-xtrasmall-bold-letter-spacing: 0px;
    --heading-xtrasmall-bold-line-height: 150%;
    --heading-xtrasmall-bold-font-style: normal;
    --texttext-tertiary: rgba(194, 205, 213, 1);
    --blue-10: rgba(247, 251, 253, 1);
    --body-small-regular-font-family: "Lato-Regular", Helvetica;
    --body-small-regular-font-weight: 400;
    --body-small-regular-font-size: 14px;
    --body-small-regular-letter-spacing: 0px;
    --body-small-regular-line-height: 150%;
    --body-small-regular-font-style: normal;
}
